<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Users</title>
</head>
<body> 
    <div class="container" style="text-align: center; background-color: whitesmoke;">
        <h1> Hello Codeforces !!! </h1>
        <canvas id="allUsersChart" style="padding-bottom: 5%;"></canvas>
        <div id="userAverage" style="padding-bottom: 5%;"></div> 
        <canvas id="allUsersChartWide"></canvas> 
        <div class="btn btn-dark" style="width: 60%; margin-bottom: 2%;">
            <a href="/ratings" style="color: white;"> Back </a>
        </div>
       
    </div>
    <script type="text/javascript" src="ratings.js"></script>
</body>
</html>