<html>

<head>
    <title>Crawler</title>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="/styles.css"> -->
</head>

<body>
    <div class="container" style="padding-top: 16%; text-align: center; background-color: rgb(211, 209, 209); padding-bottom: 90%;">
        <h1 class="heading"> Enter the user handle </h1>
        <form action="/ratings" method="GET">
            <div class="form-group ">
                <input type="text" class="form-control " name="userHandle" style="text-align: center;" placeholder="ex: tourist :)">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Submit</button>
        </form>
    </div>
</body>
</html>